# Servidor y Entorno
NODE_ENV=development
PORT=3000

# Conexión a la Base de Datos (MongoDB Compass Local)
DATABASE_URL=mongodb://localhost:27017/tu_nombre_de_base_de_datos

# Credenciales de OpenAI
OPENAI_API_KEY=tu_api_key_de_openai_aqui

# Credenciales de The Movie Database (TMDB)
TMDB_API_KEY=tu_api_key_de_tmdb_de_32_caracteres_aqui
TMDB_BASE_URL=https://api.themoviedb.org/3

# Configuración de Pruebas / Desarrollo Local
USE_LOCAL_MOVIES=false

# Configuración del Entorno Local
NEST_PORT=3002
VITE_API_BASE_URL=http://localhost:3002